.body-container {
    position: absolute;
    width: 384px;
    height: 76px;
    left: 21px;
    top: 277px;
    border-width: 0px 0px 0px 0px;
    border-style: solid;
    border-color: rgba(184, 184, 184, 1);
  }
  